<h1>Admin::Items#edit</h1>
<%= form_with model: @item, url: admin_item_path(@item.id), method: :patch, local: true do |f| %>
  <p>画像</p>
  <%= f.file_field :image_id, accept: "image/*" %>
  <p>商品名</p>
  <%= f.text_field :name %>
  <p>商品説明</p>
  <%= f.text_area :introduction %>
  <p>値段</p>
  <%= f.number_field :price %>
  <p>販売ステータス</p>
  <%= f.select :is_active, [['販売中', true], ['販売停止', false]], { include_blank: true, selected: true } %><br>
  <%= f.submit"保存" %>
<% end %>
