<%= form_with model: Item.new do |f| %>
  <p>画像</p>
  <%= f.file_field :image_id, accept: "image/*" %>
  <p>商品名</p>
  <%= f.text_field :name %>
  <p>商品説明</p>
  <%= f.text_area :introduction %>
  <p>値段</p>
  <%= f.number_field :price %>
  <p>販売ステータス</p>
  <%= f.select :is_active, [['販売中', true], ['販売停止', false]], { include_blank: true, selected: true } %><br>
  <%= f.submit"投稿" %>
<% end %>
