<h1>Admin::Items#show</h1>

<h2>商品画像</h2>
<% if @item.image_id.attached? %>
  <%= image_tag @item.image_id, size: "200x200" %>
<% else %>
  <%= image_tag 'no_image', size: "200x200" %>
<% end %>
<h2>商品名</h2>
<p><%= @item.name %></p>

<h2>商品説明</h2>
<p><%= @item.introduction %></p>

<h2>値段</h2>
<p><%= @item.price %></p>

<h2>販売ステータス</h2>
<p><%= @item.is_active %></p>
