<div class="container">
  <div class="row justify-content-center">
    <%= image_tag('garland_pink.png') %>
    <%= image_tag('garland_pink.png') %>
  </div>
  <div class="row justify-content-center">
    <div class="col-sm-12 col-md-10 col-lg-9 m-5 px-5 px-sm-0 mx-auto d-flex">
      <div class="m-3">
        <% if @item.image_id.attached? %>
          <%= image_tag @item.image_id, size: "200x200" %>
        <% else %>
          <%= image_tag 'no_image', size: "200x200" %>
        <% end %>
      </div>

      <div class="m-2 p-2">
        <p>商品名：<%= @item.name %></p>


        <p>商品説明：<%= @item.introduction %></p>


        <p>値段：<%= @item.price.to_s(:delimited) %></p>


        <p>販売ステータス：
        <% if @item.is_active == true %>
          販売中
        <% else %>
          販売停止中
        <% end %>
        </p>
      </div>
    </div>
  </div>

      <div class="row justify-content-center">
        <%= link_to '編集する', edit_admin_item_path, class: 'btn btn-success' %>
      </div>
</div>
