<div class="container">
  <div class="row">
    <div class="col">
      <h2>注文履歴詳細</h2>
      <table  class="table table-borderless">
          <tr>
              <th>購入者</th>
              <td><%= @order.customer.family_name %><%= @order.customer.first_name %></td>
          </tr>
          <tr>
              <td>注文日</th>
              <td><%= @order.created_at.strftime('%Y/%m/%d') %></td>
          </tr>
          <tr>
              <td>配送先</td>
              <td>
                〒<%= @order.postal_code %>
                <%= @order.address %><br>
                <%= @order.name %>
              </td>
          </tr>
          <tr>
              <td>支払方法</td>
              <td><%= @order.payment_method_i18n %></td>
          </tr>
          <tr>
              <%= form_with model: @order, url: admin_order_path, local: true do |f| %>
                  <td>注文ステータス</td>
                  <td>
                    <%= f.select :status, [['入金待ち', 'wait'], ['入金確認', 'confirm'], ['製作中', 'crafting'], ['発送準備中', 'preparation'], ['発送済み', 'complete']], { include_blank: false, selected: @order.status}, class: 'form-control-sm' %>
                    <%= f.submit "更新", class: 'btn btn-success' %>
                  </td>

              <% end %>
          </tr>
      </table>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-9 col-md-9 col-sm-9">
      <table  class="table table-bordered">
          <thead class="thead-light">
              <tr>
                  <th>商品名</th>
                  <th>単価（税込み）</th>
                  <th>数量</th>
                  <th>小計</th>
                  <th>製作ステータス</th>
              </tr>
          </thead>
          <tbody>
              <% @ordered_items.each do |ordered_item| %>
              <tr>
                  <td><%= ordered_item.item.name %></td>
                  <td><%= ordered_item.item.add_tax_price.to_s(:delimited) %></td>
                  <td><%= ordered_item.amount %></td>
                  <td><%= (ordered_item.item.add_tax_price * ordered_item.amount).to_s(:delimited) %></td>
                  <td>
                      <%= form_with model: ordered_item, url: admin_ordered_item_path, local: true do |f| %>
                          <%= f.select :status, [['着手不可', 'no'], ['製作待ち', 'craft_wait'],['製作中', 'in_crafting'],['製作完了', 'complete']], { include_blank: false, selected: ordered_item.status}, class: 'form-control-sm' %>
                          <%= f.submit "更新", class: 'btn btn-success' %>
                      <% end %>
                  </td>
              </tr>
              <% end %>
          </tbody>
      </table>
    </div>


    <div class="col-lg-3 col-md-3 col-sm-3">
      <table  class="table  table-borderless">
          <tr>
              <th>商品合計</th>
              <td>
                  <% items_price = 0 %>
                  <% @ordered_items.each do |ordered_item| %>
                  <% items_price += ordered_item.item.add_tax_price * ordered_item.amount %>
                  <% end %>
                  <%= items_price.to_s(:delimited) %>円
              </td>
          </tr>
          <tr>
              <th>送料</th>
              <td><%= @order.postage.to_s(:delimited) %>円</td>
          </tr>
          <tr>
              <th>請求金額合計</th>
              
              <td>
                <% item=items_price+@order.postage%>
                <%= item.to_s(:delimited) %>円
              </td>
          </tr>
      </table>
    </div>
  </div>
</div>

