<div class="container">
  <div class="row">
    
    <div class="col-xs-offset text-center:">
      <h2 >管理者ログイン</h2>
      
      <%= form_with model: @admin, url: admin_session_path,local:true do |f| %>
        <div class="field form-group ">
          <%= f.label :"メールアドレス",class: "control-label" %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email",:placeholder => 'sumple@example.com',class: "form-control-static"%>
        </div>
      
        <div class="field form-group ">
          <%= f.label :"パスワード",class: "control-label" %><br />
          <%= f.password_field :password, autocomplete: "current-password",class: "form-control-static" %>
        </div>
      
      
        <div class="actions">
          <%= f.submit "ログイン",class: "new-btn btn btn-primary " %>
        </div>
      <% end %>
      
      <%= render "admins/shared/links" %>
    </div>
    
  </div>
</div>