
<%= flash[:error] %>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
<div class="container">
	<div class="row">
		<div class="col-sm-4"></div>
		<div class="col-sm-4">
			<form class="form-signin" role="form" action="login.php"
				method="post" autocomplete="off">
				<input type="hidden" name="mode" value="login" />
				<h2 class="form-signin-heading text-center" style="margin-top:60px;margin-bottom:30px">LOGIN WEB USER</h2>
				 <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "メールアドレス" %>
				 <%= f.password_field :password, autocomplete: "current-password", class: "form-control", placeholder: "パスワード" %>
				 <%= f.submit "Log in", class: "btn btn-lg btn-primary btn-block" %>
				<br>
				<% end %>
			</form>
		</div>
		<div class="col-sm-4"></div>
	</div>
</div>

<div class="container mt-3">
  <h4>会員登録がまだお済みでない方</h4>
  <%=link_to "こちら",new_customer_registration_path%>から新規登録してください。
</div>
