<h1>注文履歴一覧</h1>

<table>
  <thead>
    <tr>
      <td>注文日</td>
      <td>配送先</td>
      <td>注文商品</td>
      <td>支払金額</td>
      <td>ステータス</td>
      <td>注文詳細</td>
    </tr>
  </thead>
  <tbody>
    <% @orders.each do |order| %>
    <tr>
      <td><%= order.created_at.strftime('%Y/%m/%k') %></td>
      <td><%= order.adress %></td>
      <td>
        <% order.ordered_items.each do |ordered_item| %>
        <%= ordered_item.item.name %>
        <% end %>
      </td>
      <td><%= order.total_price %></td>
      <td><%= order.status %></td>
      <td><%= link_to '詳細', order_path(order.id) %></td>
      <td></td>
    </tr>
    <% end %>
  </tbody>
</table>
