<div class="container">
  <div class="row">
    <div class="col">
      <h2>注文履歴詳細</h2>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-7 col-md-7 col-sm-7">
      <p>注文情報</p>
      <table class="table table-bordered">
        <tr>
          <td class="table-active">注文日</td>
          <td><%= @order.created_at.strftime('%Y/%m/%d') %></td>
        </tr>
        <tr>
          <td class="table-active">配送先</td>
          <td>
            〒<%= @order.postal_code %><br>
            <%= @order.address %><br>
            <%= @order.name %>
          </td>
        </tr>
        <tr>
          <td class="table-active">支払方法</td>
          <td><%= @order.payment_method_i18n %></td>
        </tr>
        <tr>
          <td class="table-active">ステータス</td>
          <td><%= @order.status_i18n %></td>
        </tr>
      </table>
    </div>

    <div class="col-lg-5 col-md-5 col-sm-5">
      <p>請求情報</p>
      <table class="table table-bordered">
        <tr>
          <td class="table-active">商品合計</td>
          <td>
            <% items_price = 0 %>
            <% @ordered_items.each do |ordered_item| %>
              <% items_price += ordered_item.item.add_tax_price * ordered_item.amount %>
            <% end %>
            <%= items_price.to_s(:delimited) %>
          </td>
        </tr>
        <tr>
          <td class="table-active">配送料</td>
          <td><%= @order.postage.to_s(:delimited) %></td>
        </tr>
        <tr>
          <th class="table-active">ご請求額</th>
          <td><%= @order.total_price.to_s(:delimited) %></td>
        </tr>
      </table>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-8 col-sm-8">
      <p>注文内容</p>
      <table class="table table-bordered">
        <thead class="thead-light">
          <tr>
            <th>商品</th>
            <th>単価（税込み）</th>
            <th>個数</th>
            <th>小計</th>
          </tr>
        </thead>
        <tbody>
          <% @ordered_items.each do |ordered_item| %>
          <tr>
            <td><%= ordered_item.item.name %></td>
            <td><%= ordered_item.item.add_tax_price.to_s(:delimited) %></td>
            <td><%= ordered_item.amount %></td>
            <td><%= (ordered_item.item.add_tax_price * ordered_item.amount).to_s(:delimited) %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
