<h1>商品一覧<span>★全<%= @items.total_count %>件</span></h1>

<% @items.each do |item| %>
<p>商品イメージ</p>
<% if item.image_id.attached? %>
  <%= image_tag item.image_id, size: "200x200" %>
<% else %>
  <%= image_tag 'no_image', size: "200x200" %>
<% end %>
<p>商品名</p>
<span><%= link_to item.name, item_path(item.id) %></span>
<p>価格</p>
<span>¥<%= item.price %></span>
<% end %>
<%= paginate @items %>