<div class="container mt-3 mx-auto">
  <div class="row">
    <h1>商品一覧<span>★全<%= @items.total_count %>件</span></h1>
  </div>
  <div class="row justify-content-center">

    <%= image_tag('garland_pink.png') %>
    <%= image_tag('garland_pink.png') %>


  </div>
  <div class="row">
    <div class="col-xl-2">
      <ul class="list-group">
        <li class="list-group-item disabled" aria-disabled="true">ジャンル検索</li>
      <% @genres.each do |genre| %>
        <li class="list-group-item"><%= link_to genre.name, genresearch_path(content: genre.name) %></li>
      <% end %>
    </div>
    <% @items.each do |item| %>
    <div class="col-xl-2 col-md-2 m-3">
      <div>
        <% if item.image_id.attached? %>
          <%= image_tag item.image_id, size: "200x200" %>
        <% else %>
          <%= image_tag 'no_image', size: "200x200" %>
        <% end %>
        <p><%= link_to item.name, item_path(item.id) %></p>
        <p>¥<%= item.price.to_s(:delimited) %></p>
      </div>
    </div>
    <% end %>
  </div>
<%= paginate @items %>
</div>





